*.pyc
*~
.lock-wscript
bin
*.debhelper.log
debian/ctdb/
debian/samba-libs/
debian/tmp/
debian/samba/
debian/samba-common-bin/
debian/samba-common/
debian/samba-testsuite/
debian/smbclient/
debian/libparse-pidl-perl/
debian/registry-tools/
debian/samba-dev/
debian/libpam-smbpass/
debian/libsmbclient-dev/
debian/libsmbclient/
debian/python-samba/
debian/samba-dsdb-modules/
debian/samba-vfs-modules/
debian/winbind/
debian/libnss-winbind/
debian/libpam-winbind/
debian/libwbclient-dev/
debian/libwbclient0/
*.swp
*.debhelper
debian/*.substvars
debian/samba-dbg/
debian/samba-doc/
debian/files
ctdb/README.eventscripts
ctdb/README.notify.d
