#/bin/sh -e
#
# $Id$
#

# Source debconf library.
. /usr/share/debconf/confmodule

db_title "Samba Server"

# Babysit users who don't read README.Debian
db_input high samba/log_files_moved || true
db_go

db_input high samba/run_mode || true
db_go

db_input high samba/generate_smbpasswd || true
db_go
