ctdb/
samba-libs/
tmp/
samba/
samba-common-bin/
samba-common/
samba-testsuite/
smbclient/
libparse-pidl-perl/
registry-tools/
samba-dev/
libpam-smbpass/
libsmbclient-dev/
libsmbclient/
python-samba/
samba-dsdb-modules/
samba-vfs-modules/
winbind/
libnss-winbind/
libpam-winbind/
libwbclient-dev/
libwbclient0/
*.substvars
samba-dbg/
samba-doc/
files
